{% extends 'store/home.html' %}
{% load static %}
{% block content %}
    <section id="reset">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 d-flex justify-content-center">
                    <p><strong>RESET YOUR PASSWORD</strong></p>
                </div>
                <form class="col-lg-4">
                <div class="col-lg-12 py-2">
                        <input type="email" class="form-control" placeholder="juan.delacrush@gmail.com">
                </div>
                <div class="col-lg-12 d-flex justify-content-center py-2">
                    <button class="btn-auth">FIND EMAIL</button>
                </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}